{% extends "base.html.twig" %}
{# On hérite du template 'base.html.twig' #}

{# On appel le block body du template 'base.html.twig' #}
{% block body %}

    <h1 class="display-4 my-4 text-center">Détails de l'article</h1>

    {# 'article' est une variable TWIG qui provient du contrller 'blogController' et de la méthode 'show' ($this->render(['article'])) #}
    {# la variable 'article' contient le detail de l'article selectionné en BDD #}
    {# Pas besoin de boucle FOR puisque nous n'avons qu'un seul article selectioné, donc une seule ligne selectionné dans la table SQL Article #}

    <div class="text-center col-md-12 card mb-2 p-0">
        {# replace() : filtre TWIG qui permet de remplacer une partie de la chaine de caractère par une autre, dans notre on remplace la largeur de 200 dans l'URL de l'image par "1000/300" #}
        <img src="{{ article.image|replace({"200": "1000/300"}) }}" class="card-img-top" alt="{{ article.title }}">
        <div class="card-body">
            <h5 class="card-title text-center"> {{ article.title }} </h5>
            <p class="">{{ article.content|raw }}</p>
            <hr>

            {# SI l'internaute EST connecté, il peut modifier l'article #}
                {% if app.user %}

                <span class="col-md-2"><a href="{{ path('blog_edit', {'id': article.id }) }}" class="text-left btn btn-warning">Modifier</a></span>

                {% endif %}

            <span class = "col-md-2"><a href = "{{ path('blog_edit', {'id' : article.id} ) }}" class = "btn btn-warning text-left">Modifier</a></span>
            <span class="col-md-2 offset-md-4 font-italic text-right">Posté le {{ article.
            createdAt|date("d/m/Y") }} à {{ article.createdAt|date("H:i:s") }} dans la catégorie <strong>{{ article.category.title}}</strong></p>
        </div>

    </div>

    <div class="col-md-12"

        <h2 class="text-center mt-5">Derniers avis...</h2>

        {% for comment in article.comments %}

        <div class= "row border rounded mb-2 bg-dark text-white">
            <div class = "col-md-2">
                <span>{{ comment.author }}</span>
                <small class= "font-italic"> ( {{ comment.createdAt|date('d/m/Y à H:i:s') }} )</small>
            </div>

            <div class="col-md-10">
                <p>{{ comment.content|raw }}</p>
            </div>
        </div>

        {% endfor %}

    </div>
    
{% endblock %}

